
@{
    ViewBag.Title = "VerAtencionMedica";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>VerAtencionMedica</h2>

@foreach (var elemento in Model)
{
    <tr>
        <td>@elemento.resu_resultado</td>
    </tr>
}